# System files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/media/*
!/media/index.html

# Lock files
# ---------------

.lock

# Editors
# (sensitive workspace files)
# ---------------------------
*.sublime-workspace
/.vscode
/.idea

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Cache Files
# ---------------

/site/cache/*
!/site/cache/index.html

# Accounts
# # ---------------

/site/accounts/*
!/site/accounts/index.html

# Sessions
# ---------------

/site/sessions/*
!/site/sessions/index.html

# License
# ---------------

/site/config/.license

# Content
# ---------------

/content/*
content/1_home/2_3/a.jpeg
content/1_home/2_3/a.jpeg.txt
content/1_home/2_3/show.txt
content/1_home/3_jump1/show.txt
content/1_home/3_jump1/whatsapp-image-2023-12-06-at-17.17.10-1.jpeg
content/1_home/3_jump1/whatsapp-image-2023-12-06-at-17.17.10-1.jpeg.txt
