/* --- fonts --- */

@font-face {
  font-family: miriam;
  font-weight: normal;
  src: url(/assets/fonts/MiriamLibre-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: miriam;
  font-weight: bold;
  src: url(/assets/fonts/MiriamLibre-Bold.ttf);
  font-weight: 700;
}

/* --- root --- */

:root {
  --TEST: rgb(4, 255, 0);

  /* colors */
  --CLR_BLACK: #000000;
  --CLR_WHITE: #FFFFFF;
  --CLR_FPINK: #FF48B0;
  --CLR_BLUE: #0078BF;
  --CLR_YELLOW: #FFE800;
  --CLR_GREEN: #00a95c;
  --CLR_RED: #f15060;

  /* character style */
  --TXT1_FAMILY: miriam;
  --TXT1_SIZE: 17px;
  --TXT1_REGULAR: 400;
  --TXT1_BOLD: 700;

  /* layout */
  --SHOW_SIZE: 18vw;
  --GRID_GAP: 4vw;
}

/* --- type style --- */

.highlight {
  color: var(--CLR_WHITE);
  display: inline;
}

/* --- setup --- */

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, picture, svg, video {
  display: block;
  max-width: 100%;
}

html {
  color-scheme: light;
  scroll-behavior: smooth;
  overflow: scroll;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

/* --- body --- */

body {
  position: relative;
  background-color: var(--CLR_WHITE);

  display: flex;
  flex-direction: column;
	align-items: center;
}

.page_bg {
  pointer-events: none;
  position: fixed;
  mix-blend-mode: multiply;
  opacity: 100%;

  background-image: url('/assets/images/bg_yellow.jpg');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;

  height: 100vh;
  width: 100vw;
  z-index: 20;
}

/* --- header --- */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header_top {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  background-color: var(--CLR_FPINK);
}

.header_main,
.header_menu {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
}

.header_main {
  padding: 15px 18px;
  height: 80px;
}

.header_menu {
  padding-top: 0;
  padding-bottom: 7px;
  padding-left: 17px;
  padding-right: 17px;
  height: 40px;

  justify-content: flex-start;
  gap: 10px;
}

.header_main {
  justify-content: space-between;
}

.logo>img {
  height: 100%;
}

.search_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;

  gap: 10px;

  height: auto;
  width: auto;

  color: var(--CLR_WHITE);
  font-family: var(--TXT1_FAMILY);
  font-size: var(--TXT1_SIZE);
  letter-spacing: 0.5px;
}

.search_container form {
  display: flex;
  flex-direction: row-reverse;
  gap: 0;
}

.search_container span {
  color: var(--CLR_WHITE);
}

.search_container form > input:first-child {
  background: none;
	border: 1.1px solid var(--CLR_WHITE);
  padding-right: 5px;
}

input[type=text] {
  color: white;
}

.search_container form > input:last-child {
  background-color: var(--CLR_WHITE);
  border: none;
  color: var(--CLR_FPINK);
  padding: 0 5px;
}

.search_container form > input::placeholder {
  color: var(--CLR_WHITE);
  opacity: 0.5;
}

header p {
  font-family: var(--TXT1_FAMILY);
  font-size: var(--TXT1_SIZE);
  letter-spacing: 0.5px;
}

.header_menu p {
  color: var(--CLR_WHITE);
}


.live_container {
  width: 30%;
  height: 120px;

  cursor: pointer;
}

.live_strip {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  height: 25px;
  background-color: var(--CLR_BLACK);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

footer p {
  font-family: var(--TXT1_FAMILY);
  font-size: var(--TXT1_SIZE);
}

.live_strip p {
  font-weight: var(--TXT1_REGULAR);
  color: var(--CLR_WHITE);
}

.live_strip p i {
  color: var(--CLR_FPINK);
}

.live_mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 70px;
}

.play_button {
  background-color: var(--CLR_YELLOW);
  height: 70px;
  width: 70px;
}

.play_button > img {
  mix-blend-mode: multiply;
}

.live_info {
  background-color: var(--CLR_BLACK);
  flex-grow: 1;
  padding: 5px 10px;
}

.live_info p {
  color: var(--CLR_YELLOW);
}

.live_info>p:first-child {
  color: var(--CLR_WHITE);
  background-color: var(--CLR_YELLOW);
  display: inline;
  color: var(--CLR_BLACK);
  letter-spacing: 1px;
}

.live_info>p:last-child {
  margin-top: 6px;
}

.color_ovelay {
  display: block;
  position: absolute;

  background-color: var(--CLR_FPINK);

  z-index: 12;
  height: var(--SHOW_SIZE);
  width: var(--SHOW_SIZE);

  mix-blend-mode: screen;
  pointer-events: none;
}

audio { /* temp */
  width: 300px;
  height: 54px;
}

.shows.close,
.program.close,
.about.close
{
  display: none;
}

.menu_object {
  cursor: pointer;
}

.menu_object.marked {
  text-decoration: underline;
  text-decoration-color: var(--CLR_WHITE);
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
}

/* --- footer --- */

footer {
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 190;

  background: var(--CLR_FPINK);
}

.SC_player {
  display: none;
  width: 100%;
  height: 120px;

  mix-blend-mode: none;
}


/* --- show --- */

.shows {
  display: grid;
  grid-template-columns: var(--SHOW_SIZE) var(--SHOW_SIZE) var(--SHOW_SIZE) var(--SHOW_SIZE);
  list-style: none;
  grid-gap: var(--GRID_GAP);
  justify-items: center;
  justify-content: center;

  margin-top: var(--GRID_GAP);
  margin-bottom: 130px;
  width: 100%;
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  background-color: var(--CLR_WHITE);
  
  width: var(--SHOW_SIZE);
  height: var(--SHOW_SIZE);

  cursor: pointer;
  padding: 15px;
}

.show p { 
  font-family: var(--TXT1_FAMILY);
  font-size: var(--TXT1_SIZE);
}

.show_title > .highlight {
  background: var(--CLR_BLUE);
}

.show_published > .highlight {
  color: var(--CLR_BLUE);
  background: var(--CLR_WHITE);
}

.hover_play {
  display: block;
  position: absolute;
  mix-blend-mode: multiply;

  background-image: url('/assets/images/play.gif');
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: cover;
  
  z-index: 5;
  height: var(--SHOW_SIZE);
  width: var(--SHOW_SIZE);
}

.hover_ovelay {
  display: block;
  position: absolute;

  background-color: var(--CLR_FPINK);

  z-index: 4; 
  height: var(--SHOW_SIZE);
  width: var(--SHOW_SIZE);

  mix-blend-mode: screen;
  pointer-events: none;
}

.show_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.show_info,
.show_title {
  max-width: 15vw;
}

.show_description > p { 
  font-weight: var(--TXT1_REGULAR);
}

.show_tags > .highlight {
  color: var(--CLR_FPINK);
  background: var(--CLR_WHITE);
}

.show_description > .highlight {
  color: var(--CLR_WHITE);
  background: var(--CLR_FPINK);
}

.show_title {
  z-index: 6;
  cursor: pointer;
  font-size: 20vw;
}

/* program */

.program {
  display: flex;
  flex-direction: column;

  margin-top: var(--GRID_GAP);
  margin-bottom: 130px;
  width: 600px;
}

.program p {
  font-family: var(--TXT1_FAMILY);
  font-size: var(--TXT1_SIZE);
  font-weight: var(--TXT1_REGULAR);
  color: var(--CLR_GREEN);
}

.day_container {
  border-bottom: 2px solid var(--CLR_GREEN);
  margin-bottom: var(--GRID_GAP);
}

.date_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: var(--GRID_GAP);
}

.program_show {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: var(--GRID_GAP);
}

.program_show_title > .highlight {
  color: var(--CLR_WHITE);
  background: var(--CLR_GREEN);
}

/* About */

.about {
  display: flex;
  flex-direction: column;

  margin-top: var(--GRID_GAP);
  margin-bottom: 130px;
  width: 600px;
}

.about p,
.about a {
  font-family: var(--TXT1_FAMILY);
  font-size: var(--TXT1_SIZE);
  font-weight: var(--TXT1_REGULAR);
  color: var(--CLR_GREEN);
}

.about_text {
  margin-bottom: var(--GRID_GAP);
}

/* Media Query */

@media (max-width: 1550px) {
  :root {
    --SHOW_SIZE: 28vw;
  }

  .shows {
    grid-template-columns: var(--SHOW_SIZE) var(--SHOW_SIZE) var(--SHOW_SIZE);
  }
  
  .show_info,
  .show_title {
      max-width: 21vw;
  }
}

@media (max-width: 1100px) {
  :root {
    --SHOW_SIZE: 44vw;
  }

  .shows {
    grid-template-columns: var(--SHOW_SIZE) var(--SHOW_SIZE);
  }

  header {
    flex-direction: column;
  }

  .header_main {
    height: 40px;
    padding: 6px 18px;
  }
  
  .live_container {
    width: 100%;
  }

  .show_info,
  .show_title {
    max-width: 33vw;
  }

  .program,
  .about {
    width: 300px;
  }
}

@media (max-width: 700px) {
  :root {
    --TXT1_SIZE: 17px;
    --SHOW_SIZE: 92vw;
  }

  .shows {
    grid-template-columns: var(--SHOW_SIZE);
  }

  footer {
    flex-direction: column;
  }

  .show_info,
  .show_title {
    max-width: 69vw;
  }

  .live_info p,
  .live_strip p {
    font-size: 14px;
  }

  .header_menu {
    justify-content: space-between;
  }
}


/* idan */

button,
button:focus { 
  border: none;
  outline: none; 
}

.play-live .btn-pause,.play-live .btn-play-live {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: blink-thing 2s infinite;
}

.play-live .btn-pause svg,
.play-live .btn-play-live svg {
  height: 64px;
  width: 64px;
}

.play-live .btn-pause:active,.play-live .btn-play-live:active {
  animation: none;
}

.play-live .btn-pause,
.play-live.playing .btn-play-live,
.player .btn-pause,
.player.playing .btn-play
{
  display: none
}

.play-live.playing .btn-pause {
  display: flex
}

.player.playing .btn-pause {
  display: block
}